header {
    background-color: darkolivegreen;
    text-align: center;
}
header > h1 {
    color: white;
}
section, aside {
    padding: 0 10px;
}
footer {
    padding: 1px;
    background-color: darkolivegreen;
    text-align: center;
    color: white;
}