/* 
* css 미디어 쿼리
    : 미디어쿼리는 단말기 유형, 화면 해상도, 뷰포트 너비 등에 따라 스타링을 적용 할 때 사용 
    
    * 미디어 유형(단말기 유형)
      - all : 모든장치
      - print : 인쇄 결과물 및 출력 미리보기 화면에 표시 중인 문서
      - screen : 스크린 화면
      - speech : 음성 합성장치
    
    * 논리 연산자
      - and
      - not
      - only
      - 쉼표(,) : or를 의미
*/
/* 모바일 */
@media screen and (max-width:600px) {
    body {
        border: solid;
    }
    #wrapper {
        width: 100%;
    }
    /* header */
    header {
        height: 120px;
        line-height: 60px;
    }
    
    /* 본문 */
    section {
        height: 300px;
        background-color: cornsilk;
    }
    /* aside */
    aside {
        background-color: rgb(185, 250, 252);
    }
    /* footer */
    footer {
        height: 50px;
    }
}
/* tablet */
@media screen and (min-windth:601px) and (max-width:999px) {
/* 전체 */
#wrapper {
    width: 100%;
}

/* header */
header {
    height: 80px;
    line-height: 80x;
}
/* 본문 */
section {
    float: left;
    width: 60%;
    height: 500px;
    background-color: rgb(184.226.249);
}
/* aside */
aside {
    float: right;
    width: 30%;
    height: 500px;
    background-color: rgb(233, 246, 145);
}
/* footer */
footer {
    clear: both;
    height: 50px;
}
}

/* pc */
@media screen and (min-width:1000px) {
/* 전체 */
#wrapper {
    width: 100%;
    border: double;
}
/* header */
header {
    height: 100px;
    line-height: 70px;
    background-color: blueviolet;
    border-bottom: 10px solid;
    border: solid;
}
/* 본문 */
section {
    float: right;
    width: 82%;
    height: 600px;
    background-color: white;
    border: solid;
    font-size: 25px;
}
/* aside */
aside {
    float: left;
    width: 15%;
    height: 600px;
    border-right: 10px solid;
    font-size: 20px;
    background-color: rgb(197, 145, 246);
    border: groove;
}
/* footer */
footer {
    clear: both;
    height: 200px;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    border: dashed;
}
}